@media (max-width: 425px){
    .blogs-posts-container .post-container{
        max-width: 95%;
    }
}
@media (min-width: 320px){
    header nav .menu {
        display: block;
        width: 50px;
    }
}
@media (min-width: 600px){
    header nav .menu {
        display: none;
    }
    nav .profile-link{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 12px;
    }
    nav .profile-link a{
        color: white;
        border-bottom: 1px solid white;
        margin: 0 16px;
    }
    .home-main-text{
        font-size: 30px;
    }
    .blogs-posts-container{
        max-width: 95%;
    }
}
@media (max-width: 900px) {
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container{
        grid-row: 2;
    }
    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container{
        max-width: 45%;
    }
    .projects-main-container{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container{
        display: block;
    }
}